# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/
ENV/
myvenv/

# Variables de entorno
.env
.env.local

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Django generated
staticfiles/
backups/
db.sqlite3

# Logs
*.log
